body {
  min-width: 320px;
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html,
#app-wrapper {
 min-height: 100%;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
h1,h3{
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
  color: #2c2b2b;
  list-style: none;
  text-decoration: none;
}
table{
  border-collapse: collapse;
  border-spacing: unset;
}